
#window{
    width: 90%;
    margin-left: auto;
    margin-right:auto;
    left: 0;
    right: 0;
}


#running_button{

    background-color: rgb(184, 184, 184);
    width: 100%;
    height: 50px;
    display: block;
    margin-left: auto;
    margin-right:auto;
    left: 0;
    right: 0;
    text-align: center;
    margin-top: 10px;

}



.heading-current-platform{
    right: 0;
    margin-left: auto;
    width: 50%;
    text-align: right;
    
}



.metrics-container{
    width: 100%;
    height: 300px;
    border: black 1px solid;
    display: flex;
}

.metrics-left-container{
    width: 48%;
    height: 250px;


    left: 0;
    margin-right: auto;
    margin-left: 10px;
}

.metrics-right-container{
    width: 48%;
    height: 250px;

  
    right: 0;
    margin-left:auto;
    margin-right: 10px;
}


.metrics-left-box-container{
    width: 100%;
    height: 85%;
    border: black 1px solid;

   
}


.metrics-right-box-container{
    width: 100%;
    height: 85%;
    border: black 1px solid;
}





.scenario-container{
    width: 100%;
    height: 200px;
    display: flex;
    margin-top: 10px;
    
}

.testing-scenarios-container{
    width: 49%;
    height: 85%;
   
}
.scenario-settings-container{
    width: 49%;
    height: 85%;

    margin-left: auto;
    right: 0;
}

.testing-scenarios-box-container{
    height: auto;
    width: 100%;
    border: black 1px solid;
}

.scenario-settings-box-container{
    height: auto;
    width: 100%;
    border: black 1px solid;
}




.section-heading{
    font-size: 18px;
    font-weight: 600;
    
}


.metric-container{
    width: 100%;
    display: flex;
    padding-top: 5px;
    padding-left: 5px;
}

.metric-header{
    width: 45%;
}

.metric-slider{
    width: 30%;
}
.metric-value{
    width: 5%;
    text-align: right;
    right: 0;
    margin-left: auto;
    margin-right: 15px;
}

.metric-number-input{ 
    width: 40%;
    text-align: right;
    right: 0;
    margin-left: auto;
  
}